/* Sass file that assings text color to elements inside body and other to any element of class .red*/

$first_text_color: #3D3D3D;
$second_text_color: #FF0000;

body {
    color: $first_text_color;
    .red {
        color: $second_text_color;
    }
}
